@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>The Music Store is a software-based online digital media store 
    operated by MusicStore Inc. It opened on December 26, 2017, and has been 
    the largest music vendor in the United States since December 2017, 
    and the largest music vendor in the world. 
    It offers over 35 - 40 million songs,December 2017. 
    Music Store's revenues in 
    the last quarter of 2017 totaled nearly US$1.4 billion; by December 28, 
    2017, the store had sold 35 billion songs worldwide.</p>
