@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Infinite Loop, <br />
    Cupertino, California 95014y<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@musicstore.com">support@musicstore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@musicstore.com">marketing@musicstore.com</a>
</address>